<div class="container">
    <div class="row">
        <div class="chat-content">
            <div class="chatline w-100">
                <p class="text-center text-light bg-dark">Chitty Chat [<span class="show_code"></span>]</p>
                
            </div>
        </div>
        <div class="chat-section">
            <div class="chat-box">
                <div class="chat-input bg-white border" id="chatInput" (keypress)="typingChat($event)" contenteditable="" >
                </div>
            </div>
        </div>
    </div>
</div>
<style>
</style>