<!-- <head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head> -->

<!-- <div class="bg">
    <div class="container">
<div class="fancy-border">
    <div class="row">
        <div class="chat-content">
            <div class="chatline w-full">
                <p class="chitty">LOBBY CHAT [<span class="show_code"></span>]</p>  
            </div>
        </div>
        <div class="chat-section">
            <div class="chat-box">
                <div class="chat-input bg-white border" id="chatInput" (keypress)="typingChat($event)" contenteditable="" >
                </div>
            </div>
            
        </div>
        <div class="btn join-btn" (click)="leave()">LEAVE LOBBY</div>
    </div>
</div>
</div>
</div> -->

<div class="chat-content">
    <div class="chatline w-full">
        <p class="chitty">LOBBY CHAT [<span class="show_code"></span>]</p>  
    </div>
</div>
<div class="chat-section">
    <div class="chat-box">
        <div class="chat-input bg-white border" id="chatInput" (keypress)="typingChat($event)" contenteditable="" >
        </div>
    </div>
</div>
<!-- 
<style>
</style> -->
