<head>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
  <section class="fancy-border">
    <div class="middle-sec">
      <img src="../assets/picture/crown.png" class="imaging" style="width: 350px;">
      <div class="btn-game">
        <div class="row-col">
          <button class="btn-create" id="createLobby" (click)="createLobby()">Create Lobby</button>
          <button class=".btn-semiblock red-color">?</button>
        </div>
        <div class="row-col">
          <button class=".btn-semiblock">1</button>
          <button class=".btn-semiblock">2</button>
          <button class=".btn-semiblock">3</button>
          <button class=".btn-semiblock">4</button>
        </div>

      </div>
    </div>
  </section>

  <aside>
    
  

    <div class="code">
      <input maxlength='7'  type="text" id="code" placeholder="#######" (keyup)="setCode($event)" />
      <div class="btn-game tests">
        <button class=".btn-semiblock" id="joinLobby" (click)="joinLobby()">JOIN GAME</button>
    </div>
    </div>
    <div class="fancy-border mintop">
      <div class="textalign">CUSTOM ROOM</div>


    </div>

  </aside>
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <ul>
      <li><a href="#">NAME</a></li>

    </ul>
  </div>
</body>
