<body>

  <div class="droptemplate row m-0 p-0" *ngIf="this.showDropTemplate">
    <div class="card-canvas d-flex flex-wrap justify-content-center">
      <div class="m-0 p-0" *ngFor="let handcard of this.handCard">
        <input type="checkbox" class="dropcard-checkbox" value="{{handcard.id}}" id="c{{handcard.id}}" (change)="checkedState($event)"/>
        <label for='c{{handcard.id}}' class="carddrop">&nbsp;{{ handcard.info.name }}</label>
      </div>
    </div>
    <div class="m-0 p-0 w-100 d-flex justify-content-center">
      <button class="confirmdrop" (click)="dropSelectedCard()">DROP</button>
    </div>
  </div>

  <div class="droptemplate d-flex m-0 p-0" *ngIf="this.showFoxiaEffect">
    <!-- <div class="droptemplate d-flex m-0 p-0" *ngIf="true"> -->
    <div class="h-100 w-25 d-flex justify-content-center align-items-center">
      <button class="confirmdrop bg-danger display-4" (click)="this.foxiaCancel()">Cancel</button>
    </div>
    <div class="h-100 w-50 d-flex">
      <div class="flip-card">
        <div class="flip-card-inner" *ngIf="this.foxiaDecisionResult != null">
          {{ this.foxiaDecisionResult.name }}
          <div class="flip-card-front">
            <img src="../assets/picture/card/bearfighter.png" alt="Avatar" width="400px" height="560px">
          </div>
          <div class="flip-card-back bg-secondary">

          </div>
        </div>
        <div class=" w-100 h-100 bg-secondary" *ngIf="this.foxiaDecisionResult == null"></div>
      </div>
    </div>
    <div class="h-100 w-25 d-flex justify-content-center align-items-center">
      <button class="confirmdrop bg-success display-4" (click)="this.foxiaDraw()">Draw</button>
    </div>
  </div>
  <button class="storeConfirm" *ngIf="this.storeConfirm" (click)="this.foxiaStore()">Keep</button>

  <div id="exist" *ngIf="this.characterCard">
    <!-- If this role == king -->
    <div class="role">Your Role: {{this.role}}<p>{{this.describe[this.role]}}</p>
    </div>
    <!-- If this role == king -->
    <div class="testing">
      <div class="bend" *ngFor="let char of this.characterPool">{{char.name}}<img class="card-pic"
          src={{char.image_name}} (click)="selectCharacter(char)"></div>
    </div>
  </div>
  <div class="all">
    <div class="heart myheart" *ngIf="this.life4 != null|| this.life4 != undefined ">
      <img src="../assets/picture/myHeart.png" width="55px">
      <div class="myboxHeart">
        <div class="mybox" *ngFor="let i of [].constructor(this.life4)"></div>
      </div>
    </div>
    <!-- <img src="../assets/picture/plus.png" class="plus" style="width: 45px;" (click)=""> -->
    <div class="tab-show" *ngIf="this.cardShow">
      <div class="card-show">
        {{this.cardCheck.id}}
      </div>
      <div class="confirm">
        <img src="../assets/picture/correct.png" style="width: 45px;" (click)="useCard()"
          *ngIf="this.myPos == this.queue">
        <img src="../assets/picture/cancel.png" style="width: 45px;" (click)="cancelShow()">
      </div>
    </div>
    <div class="container">
      <div class="card" *ngFor="let card of this.handCard" (click)="showCard(card)">
        {{card.id}}
      </div>
      <!-- <div class="card">

      </div>
      <div class="card">

      </div>
      <div class="card">


      </div>
      <div class="card">


      </div> -->
    </div>
    <!-- pass button -->
    <div class="wrapper" *ngIf="this.myPos == this.queue">
      <div class="link_wrapper">
        <a (click)="pass()">Next Stage</a>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
            <path
              d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z" />
          </svg>
        </div>
      </div>
    </div>
    <!-- pass button -->
    <!-- <div class="chat-content">
      <div class="chatline w-full">
        <p class="chitty">LOBBY [<span class="show_code"></span>]</p>
      </div>
    </div> -->
    <div class="lobbycode align-items-center">
      CODE:
      <div class="h-100 d-flex align-items-center">
        <span class="show_code display-5"></span>
        <button class="copy-btn" (click)="copyCodeToClipboard()">
          <img src="../assets/picture/copy.png" width="27px" height="35px">
        </button>
      </div>
    </div>
    <div class="btn join-btn" (click)="leave()" *ngIf="this.started != true">LEAVE LOBBY</div>
    <div class="btn accept-btn" (click)="start()" *ngIf="this.host == true &&this.started != true">Start</div>
    <div class="show-chat" (click)="openChat()" *ngIf="!this.showChat"><img src="../assets/picture/greater.png"
        height="40px"></div>
    <div class="hideChat">
      <div [ngClass]="{chatsidebar:this.showChat == true,closeChating:this.showChat == false}">
        <div class="chat-content">
          <div class="chatline w-full">

            <!-- <div class="w-100 p-2">
              <div class="py-2 px-3" style="font-size:15px;border-radius: 20px;color: white;background-color:#9A20DD; margin-left: auto;">
                <span style="overflow-wrap: break-word;">sfasfafssfasfafsafssssssssssssssfasfsssssssssssssssssssssssssssssssssssssssssssssfasfafsa</span>
              </div>
            </div>
            <div class="w-100 p-2">
              <div class="py-2 px-3" style="font-size:15px;border-radius: 20px;color: white;background-color:#9A20DD;max-width: fit-content; margin-left: auto; ">
                <span style="overflow-wrap: break-word;">sfasfafssffsa</span>
              </div>
            </div>
            <div class="w-100 p-2">
              <div class="py-2 px-3" style="font-size:15px;border-radius: 20px;color: white;background-color:#616161;">
                <span style="overflow-wrap: break-word;">sfasfasfafssfasfafsafssssssssssssssfasfsssssssssssssssssssssssssssssssssssssssssssssfasfafsafasfassfasfasff</span>
              </div>
            </div> -->
          </div>
          <div class="chat-input  " id="chatInput" (keypress)="typingChat($event)" contenteditable="">
          </div>
        </div>
        <div class="chat-hide" (click)="openChat()">
          <img src="../assets/picture/less.png" height="40px">
        </div>
      </div>
    </div>
    <div class="copy-noti hidden" aria-readonly="true">
      CODE was copied to clipboard.
    </div>
    <!-- <div class="fancy-border">
      <div class="row">
        <div class="chat-content">
          <div class="chatline w-full">
            <p class="chitty">LOBBY [<span class="show_code"></span>]</p>
          </div>
        </div>
        <div class="chat-section">
          <div class="chat-box">
            <div class="chat-input bg-white border" id="chatInput" (keypress)="typingChat($event)" contenteditable="">
            </div>
          </div>

        </div>
      </div>
    </div> -->
    <div
      [ngClass]="{timer: this.chair4 == this.queue,timer1:this.chair1 == this.queue,timer2:this.chair2 == this.queue,timer3:this.chair3 == this.queue,timer5:this.chair5 == this.queue,timer6:this.chair6 == this.queue}">
      <img src="../assets/picture/stopwatch.png" style="width: 95px;" *ngIf="this.clock">
      <div class="counter" *ngIf="this.clock">
        {{this.counterTime}}
      </div>
    </div>
    <div class="right-side">
      <img src="../assets/picture/lock.png" class="lock" style="width: 95px;" *ngIf="this.is_private">
      <img src="../assets/picture/setting.png" class="setting" style="width: 95px;">
    </div>
    <nz-modal [(nzVisible)]="isVisibleMiddle" nzCentered (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()"
      nzWidth="335px" [nzFooter]=null>
      <ng-container *nzModalContent>
        <img src="../assets/picture/tetttt.PNG" class="imaging" style="width: 290px; height: 500px;">
      </ng-container>
    </nz-modal>


    <!-- <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left" nzTitle="CHAT" (nzOnClose)="close()">
      <ng-container *nzDrawerContent>
        <div class="chat-section">
          <div class="chat-box">
            <div class="chat-input bg-white border" id="chatInput" (keypress)="typingChat($event)" contenteditable="">
            </div>
          </div>
        </div>
      </ng-container>
    </nz-drawer> -->

    <div class="user">

      <div class="circles" *ngIf="!this.chair1user">
        <p class="circle-content" (click)="select_position(this.chair1)">
          {{this.chair1}}
        </p>
      </div>
      <div class="heart heart1" *ngIf="this.life1 != null|| this.life1 != undefined ">
        <img src="../assets/picture/myHeart.png" width="23px">
        <div class="boxHeart" >
          <div class="box" *ngFor="let i of [].constructor(life1)"></div>
        </div>
      </div>
      <div class="stage stage1">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="11" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" id="12" width="30px">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" id="13" width="30px">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" id="14" width="30px">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" id="15" width="30px">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" id="16" width="30px">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting1">
        <img
          [ngClass]="{circle2: this.chair1 == this.queue, circle: this.chair1 != this.queue,circleLeave:this.quitRage.includes(this.chair1) && this.chair1 != this.queue}"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/penguin.jpg" alt="Tyler" *ngIf="this.chair1user"><img
          class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown1"></div>
    </div>


    <div class="user2">
      <div class="circles" *ngIf="!this.chair6user">
        <p class="circle-content" (click)="select_position(this.chair6)">
          {{this.chair6}}
        </p>
      </div>
      <div class="heart heart1" *ngIf="this.life6 != null|| this.life6 != undefined ">
        <img src="../assets/picture/myHeart.png" width="23px">
        <div class="boxHeart" >
          <div class="box" *ngFor="let i of [].constructor(life6)"></div>
        </div>
      </div>
      <div class="stage stage1">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="61" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" width="30px" id="62">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" width="30px" id="63">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" width="30px" id="64">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" width="30px" id="65">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" width="30px" id="66">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler"
          *ngIf="this.hosting6"><img
          [ngClass]="{circle2: this.chair6 == this.queue, circle: this.chair6 != this.queue,circleLeave:this.quitRage.includes(this.chair6) && this.chair6 != this.queue}"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/penguin.jpg" alt="Tyler" *ngIf="this.chair6user"><img
          class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown6"></div>

    </div>
    <div class="user3">
      <div class="circles" *ngIf="!this.chair2user">
        <p class="circle-content" (click)="select_position(this.chair2)">
          {{this.chair2}}
        </p>
      </div>
      <div class="heart heart1" *ngIf="this.life2 != null|| this.life2 != undefined ">
        <img src="../assets/picture/myHeart.png" width="23px">
        <div class="boxHeart" >
          <div class="box" *ngFor="let i of [].constructor(life2)"></div>
        </div>
      </div>
      <div class="stage stage1">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="21" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" id="22" width="30px">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" id="23" width="30px">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" id="24" width="30px">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" id="25" width="30px">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" id="26" width="30px">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting2">
        <img
          [ngClass]="{circle2: this.chair2 == this.queue, circle: this.chair2 != this.queue,circleLeave:this.quitRage.includes(this.chair2) && this.chair2 != this.queue}"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/penguin.jpg" alt="Tyler" *ngIf="this.chair2user"><img
          class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown2"></div>

    </div>

    <div class="user4">
      <div class="circles" *ngIf="!this.chair5user">
        <p class="circle-content" (click)="select_position(this.chair5)">
          {{this.chair5}}
        </p>
      </div>
      <div class="heart heart2" *ngIf="this.life5 != null|| this.life5 != undefined ">
        <img src="../assets/picture/myHeart.png" width="23px">
        <div class="boxHeart" >
          <div class="box" *ngFor="let i of [].constructor(life5)"></div>
        </div>
      </div>
      <div class="stage stage2">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="51" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" id="52" width="30px">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" id="53" width="30px">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" id="54" width="30px">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" id="55" width="30px">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" id="56" width="30px">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting5">
      </div>
      <img
        [ngClass]="{circle2: this.chair5 == this.queue, circle: this.chair5 != this.queue,circleLeave:this.quitRage.includes(this.chair5) && this.chair5 != this.queue}"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/penguin.jpg" alt="Tyler" *ngIf="this.chair5user">
      <img class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown5">
    </div>
    <div class="user5">
      <div class="circles" *ngIf="!this.chair3user">
        <p class="circle-content" (click)="select_position(this.chair3)">
          {{this.chair3}}
        </p>
      </div>
      <div class="heart heart2" *ngIf="this.life3 != null|| this.life3 != undefined ">
        <img src="../assets/picture/myHeart.png" width="23px">
        <div class="boxHeart" >
          <div class="box" *ngFor="let i of [].constructor(life3)"></div>
        </div>
      </div>
      <div class="stage stage3">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="31" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" id="32" width="30px">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" id="33" width="30px">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" id="34" width="30px">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" id="35" width="30px">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" id="36" width="30px">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting3">
      </div>
      <img
        [ngClass]="{circle2: this.chair3 == this.queue, circle: this.chair3 != this.queue,circleLeave:this.quitRage.includes(this.chair3) && this.chair3 != this.queue}"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/penguin.jpg" alt="Tyler" *ngIf="this.chair3user"><img
        class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown3">
    </div>
    <div class="user6">
      <div class="circles" *ngIf="!this.chair4user">
        <p class="circle-content" (click)="select_position(this.chair4)">
          {{this.chair4}}
        </p>
      </div>
      <div> <img
          [ngClass]="{circle2: this.chair4 == this.queue, circle: this.chair4 != this.queue,circleLeave:this.quitRage.includes(this.chair4) && this.chair4 != this.queue}"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/penguin.jpg" alt="Tyler" *ngIf="this.chair4user"> <img
          class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting4"><img
          class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown4">
      </div>

    </div>
    <div class="hexagon">

      <div class='player-1'>
        <div class="armor-horse">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>

        </div>
        <div class="myCharacter-card">
          <div class="blocks-s">

          </div>
          <div class="blocks-c">
            <img class="myCharacter" src={{this.test}}>
          </div>

        </div>
      </div>

      <div class='player-2'>
        <div class="myCharacter-card">
          <div class="blocks-s">
          </div>
          <div class="blocks-c-o">
            <img class="myCharacter" src={{this.img1}}>
          </div>

        </div>
        <div class="armor-horse">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>
        </div>
      </div>

      <div class='player-3'>
        <div class="myCharacter-card">
          <div class="blocks-s">

          </div>
          <div class="blocks-c-o">
            <img class="myCharacter" src={{this.img6}}>
          </div>

        </div>
        <div class="armor-horse">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>

        </div>

      </div>

      <div class='player-4'>
        <div class="armor-horse">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>
          <div class="blocks">
          </div>

        </div>
        <div class="myCharacter-card">
          <div class="blocks-s">
          </div>
          <div class="blocks-c">
            <img class="myCharacter" src={{this.img2}}>
          </div>

        </div>
      </div>

      <div class='player-5'>
        <div class="armor-horse">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>

        </div>
        <div class="myCharacter-card">
          <div class="blocks-s">

          </div>
          <div class="blocks-c">
            <img class="myCharacter" src={{this.img3}}>
          </div>

        </div>
      </div>

      <div class='player-6'>
        <div class="myCharacter-card">
          <div class="blocks-s">

          </div>
          <div class="blocks-c-o">
            <img class="myCharacter" src={{this.img5}}>
          </div>

        </div>
        <div class="armor-horse">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>
          <div class="blocks">

          </div>

        </div>
      </div>
      <div class="face1"></div>
      <div class="face2"></div>
    </div>



  </div>
</body>
