<head>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

  <div *ngIf="this.waitingKingSelect" class="waitingdef d-flex align-items-center">
    <div class="waitingtext d-flex justify-content-center align-items-center">
      รอราชาเลือกตัวละคร
    </div>
  </div>

   <!-- lose -->
   <div *ngIf="this.youLose" class="winlose d-flex align-items-center">
    <div class="loser d-flex justify-content-center align-items-center">
      <div class="row w-50 mx-auto d-flex justify-content-center">
        คุณแพ้
      </div>
    </div>
  </div>
  <!--  -->

   <!-- died -->
   <div *ngIf="this.youWin" class="winlose d-flex align-items-center">
    <div class="winner d-flex justify-content-center align-items-center">
      <div class="row w-50 mx-auto d-flex justify-content-center">
        คุณชนะ
      </div>
    </div>
  </div>
  <!--  -->

  <!-- coma -->
  <div *ngIf="this.coma" class="comaBack d-flex align-items-center">
    <div class="coma d-flex justify-content-center align-items-center">
      <div class="row w-50 mx-auto d-flex justify-content-center">
        สถานะโคม่า <span class="comaDescribe w-100 d-flex justify-content-center">(ขอความช่วยเหลือจากผู้เล่นคนอื่น)</span>
      </div>
    </div>
  </div>
  <div *ngIf="this.rescue" class="rescueBack d-flex align-items-center">
    <div class="row w-100 m-0 p-0 rescueboard">
      <div class="d-flex justify-content-center m-0 w-100 py-5">
        <input type="checkbox" class="dropcard-checkbox stealSelect" value="1" id="p1"
          (change)="checkedSteal($event)" />
        <label for='p1' class="player-coma d-flex justify-content-center align-items-center mx-3">&nbsp;<img class="image-coma"  src={{this.urluser+convert(this.comaPlayer.position)}}></label>
        <!-- เพิ่มอวตาร์-->
      </div>
      <div class="card-canvas d-flex flex-wrap justify-content-center">
        <div class="m-0 p-0" *ngFor="let healcard of this.healCard">
          <input type="checkbox" class="dropcard-checkbox" value="{{healcard.id}}" id="c{{healcard.id}}"
            (change)="checkedHeal($event)" />
          <label for='c{{healcard.id}}' class="rescue">&nbsp;<img class="popupCards"  src={{this.urls+healcard.info.image}}></label>
        </div>
      </div>
      <div class="m-0 p-0 w-100 d-flex justify-content-center my-5">
        <button class="rescueButton mx-5" (click)="confirmRescue()">ใช้</button>
        <button class="rescueButton mx-5" (click)="ignoreRescue()">ไม่ใช้</button>
      </div>
    </div>
  </div>
  <!--  -->

  <!-- def -->
  <div *ngIf="this.waitingLegionDrop" class="waitingdef d-flex align-items-center">
    <div class="waitingtext d-flex justify-content-center align-items-center">
      รอเป้าหมายทิ้งการ์ดในมือ
    </div>
  </div>
  <div *ngIf="this.waitingDef" class="waitingdef d-flex align-items-center">
    <div class="waitingtext d-flex justify-content-center align-items-center">
      รอเป้าหมายตอบโต้การโจมตี
    </div>
  </div>
  <div class="deftemplate row m-0 p-0" *ngIf="this.showSelectDef">
    <div class="card-canvas d-flex flex-wrap justify-content-center" >
      <div class="m-0 p-0" *ngFor="let defCard of this.defCard" >
        <div class="cantUse" *ngIf="this.defCard.lenght == 0">ไม่มีการ์ดที่ผู้เล่นสามารถใช้ได้</div>
        <input type="checkbox" class="dropcard-checkbox" value="{{defCard.id}}" id="c{{defCard.id}}"
          (change)="checkedDef($event)" />
        <label *ngIf="this.defCard.lenght != 0" for='c{{defCard.id}}' class="carddrop">&nbsp;<img class="popupCards"  src={{this.urls+defCard.info.image}}></label>
      </div>
    </div>
    <div class="m-0 p-0 w-100 d-flex justify-content-center">
      <button class="defButton greendef" (click)="useDef()">ใช้</button>
      <button class="defButton reddef" (click)="noDef()">ไม่ใช้</button>
      <button *ngIf="this.myCharacter.char_name == 'puta'" class="defButton" (click)="useCharDef()">ใช้ความสามารถตัวละคร</button>
      <button *ngIf="this.myEquipment.armor != null && this.myEquipment.armor['item_name'] == 'knight_chainmail'" class="defButton" (click)="useArmorDef()">ใช้ความสามารถเกราะป้องกัน</button>
    </div>
  </div>
  <!--  -->

  <!-- ทิ้งการ์ด -->
  <div class="droptemplate row m-0 p-0" *ngIf="this.showDropTemplate">
    <div class="card-canvas d-flex flex-wrap justify-content-center" *ngIf="!this.dropFire">
      <div class="m-0 p-0" *ngFor="let handcard of this.handCard">
        <input type="checkbox" class="dropcard-checkbox" value="{{handcard.id}}" id="c{{handcard.id}}"
          (change)="checkedState($event)" />
        <label for='c{{handcard.id}}' class="carddrop">&nbsp;<img class="popupCards"  src={{this.urls+handcard.info.image}}></label>
      </div>
    </div>
    <div class="m-0 p-0 w-100 d-flex justify-content-center" *ngIf="!this.dropFire">
      <button class="confirmdrop" (click)="dropSelectedCard()">DROP</button>
    </div>
    <div class="drop" *ngIf="this.dropFire">
      <div class="dropTest">
        <div class="droped" *ngFor="let handcard of this.dropCard">
          <div class="overlay"><img class="card-drop" src={{this.urls+handcard.info.image}}>
            <div class="mo-fire">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="125px" height="189.864px"
                viewBox="0 0 125 189.864" enable-background="new 0 0 125 189.864" xml:space="preserve">
                <path class="flame-main" fill="#F36E21" d="M76.553,186.09c0,0-10.178-2.976-15.325-8.226s-9.278-16.82-9.278-16.82s-0.241-6.647-4.136-18.465
                c0,0,3.357,4.969,5.103,9.938c0,0-5.305-21.086,1.712-30.418c7.017-9.333,0.571-35.654-2.25-37.534c0,0,13.07,5.64,19.875,47.54
                c6.806,41.899,16.831,45.301,6.088,53.985" />
                <path class="flame-main one" fill="#F6891F"
                  d="M61.693,122.257c4.117-15.4,12.097-14.487-11.589-60.872c0,0,32.016,10.223,52.601,63.123
                c20.585,52.899-19.848,61.045-19.643,61.582c0.206,0.537-19.401-0.269-14.835-18.532S57.576,137.656,61.693,122.257z" />
                <path class="flame-main two" fill="#FFD04A" d="M81.657,79.192c0,0,11.549,24.845,3.626,40.02c-7.924,15.175-21.126,41.899-0.425,64.998
                C84.858,184.21,125.705,150.905,81.657,79.192z" />
                <path class="flame-main three" fill="#FDBA16" d="M99.92,101.754c0,0-23.208,47.027-12.043,80.072c0,0,32.741-16.073,20.108-45.79
                C95.354,106.319,99.92,114.108,99.92,101.754z" />
                <path class="flame-main four" fill="#F36E21" d="M103.143,105.917c0,0,8.927,30.753-1.043,46.868c-9.969,16.115-14.799,29.041-14.799,29.041
                S134.387,164.603,103.143,105.917z" />
                <path class="flame-main five" fill="#FDBA16"
                  d="M62.049,104.171c0,0-15.645,67.588,10.529,77.655C98.753,191.894,69.033,130.761,62.049,104.171z" />
                <path class="flame" fill="#F36E21"
                  d="M101.011,112.926c0,0,8.973,10.519,4.556,16.543C99.37,129.735,106.752,117.406,101.011,112.926z" />
                <path class="flame one" fill="#F36E21"
                  d="M55.592,126.854c0,0-3.819,13.29,2.699,16.945C64.038,141.48,55.907,132.263,55.592,126.854z" />
                <path class="flame two" fill="#F36E21"
                  d="M54.918,104.595c0,0-3.959,6.109-1.24,8.949C56.93,113.256,52.228,107.329,54.918,104.595z" />
              </svg>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- เปิดการ์ดตัดสิน -->
  <div *ngIf="this.showDecisionTemplate">
    <div class="droptemplate d-flex m-0 p-0">
      <div class="h-100 w-25 d-flex justify-content-center align-items-center">
      </div>
      <div class="h-100 w-50 d-flex">
        <div class="flip-card">
          <div class="flip-card-inner" *ngIf="this.decisionResult != null">
            <div class="flip-card-front">
              <img src={{this.urls+this.foxiaLuck.info.image}} alt="Avatar" width="400px" height="560px">
            </div>
            <div class="flip-card-back bg-secondary">
              <img  src="../assets/picture/cover.png" alt="Avatar" width="400px" height="560px">
            </div>
          </div>
          <div class=" w-100 h-100" *ngIf="this.decisionResult == null">
            <img  src="../assets/picture/cover.png" alt="Avatar" width="400px" height="560px">
          </div>
        </div>
      </div>
      <div class="h-100 w-25 d-flex justify-content-center align-items-center">

      </div>
    </div>
    <div class="buttonField d-flex justify-content-center">
      <button *ngIf="this.isFoxiaEffect && this.decisionResult == null" class="openDecisionButton cancel-button mx-3"
        (click)="this.foxiaCancel()"><span class="text">ยกเลิก</span></button>
      <button *ngIf="this.isFoxiaEffect && this.decisionResult == null" class="openDecisionButton open-button mx-3"
        (click)="this.openDecisionCard(true)"><span class="text">เปิดการ์ด</span></button>
      <button *ngIf="!this.isFoxiaEffect && this.decisionResult == null" class="openDecisionButton open-button mx-3"
        (click)="this.openDecisionCard(true)"><span class="text">เปิดการ์ด</span></button>
      <button class="storeConfirm" *ngIf="this.storeConfirm && this.decisionResult != null" (click)="this.foxiaStore()">เก็บ</button>
    </div>
  </div>
  <!--  -->

  <!-- merguin effect -->
  <div class="droptemplate row m-0 p-0" *ngIf="this.merguinSelection">
    <div class="card-canvas d-flex flex-wrap justify-content-center">
      <div class="m-0 p-0" *ngFor="let handcard of this.handCard">
        <input type="checkbox" class="dropcard-checkbox" value="{{handcard.id}}" id="c{{handcard.id}}"
          (change)="checkedMerguin($event)" />
        <label for='c{{handcard.id}}' class="carddrop">&nbsp;<img class="popupCards"  src={{this.urls+handcard.info.image}}></label>
      </div>
    </div>
    <div class="m-0 p-0 w-100 d-flex justify-content-center">
      <button class="confirmdrop" (click)="useMerguinEffect()">Confirm</button>
    </div>
  </div>
  <!--  -->

  <!-- Give card to others -->
  <div class="giveCard row m-0 p-0" *ngIf="this.showGiveCard">
    <div class="card-canvas d-flex flex-wrap justify-content-center">
      <div class="m-0 p-0" *ngFor="let handcard of this.handCard">
        <input type="checkbox" class="dropcard-checkbox" value="{{handcard.id}}" id="c{{handcard.id}}"
          (change)="checkedGive($event)" />
        <label for='c{{handcard.id}}' class="carddrop">&nbsp;<img class="popupCards"  src={{this.urls+handcard.info.image}}></label>
      </div>
    </div>
    <div class="m-0 p-0 w-100 d-flex justify-content-center">

      <div class="player-give-select mx-3"> <img class="popupCard" *ngFor="let other of this.others" (click)="giveCardToPlayer(other.uuid)"  src={{this.urluser+convert(other.position)}}></div>
      
        <!-- เพิ่มอวตาร์-->
    </div>
    <div class="m-0 p-0 w-100 d-flex justify-content-center">
      <button *ngIf="this.myCharacter.char_name == 'puta'" class="putaFin" (click)="putaFinish()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Done
      </button>
    </div>
  </div>
  <!--  -->

  <!-- effect use -->
  <div class="effectTemplate m-0 p-0 d-flex justify-content-center align-items-center" *ngIf="this.confirmEffect">
    <div class="decorateEffect">
      <img class="lightning" src="../assets/picture/lightning3.png" alt="Tyler" width="150px">
      <img class="lightning2" src="../assets/picture/lightning3.png" alt="Tyler" width="150px">
      <img class="lightning3" src="../assets/picture/lightning3.png" alt="Tyler" width="150px">
      <img class="lightning4" src="../assets/picture/lightning3.png" alt="Tyler" width="150px">
    </div>
    <img class="quickAction" src="../assets/picture/thunderp.png" alt="Tyler">
    <div class="effectedSingle">
      <img class="popupCard" src={{test}}>
    </div>
    <div class="beforeEffect" id="beforeEffect">
      <button class="effectButton useButton d-flex" (click)="this.useBearylEffect()"
        *ngIf="this.myCharacter.char_name == 'bearyl'">
        <img class="useEffectImg" src="../assets/picture/book.png" alt="Tyler" width="150px">
        <div class="useEffectText text-start h-100 d-flex align-items-center">หมัดหมีขาคู่ : ในขั้นตอนการจั่วการ์ด
          ถ้าเลือกจั่วเพียง 1 ใบ ในรอบนั้นหากคุณใช้การ์ดโจมตี หรือ “ท้าดวล” จะสร้างความเสียหายเพิ่ม 1 หน่วย</div>
      </button>
      <button class="effectButton useButton d-flex" (click)="this.useSnaleEffect()"
        *ngIf="this.myCharacter.char_name == 'snale'">
        <img class="useEffectImg" src="../assets/picture/book.png" alt="Tyler" width="150px">
        <div class="useEffectText text-start h-100 d-flex align-items-center">แอบฉกแอบชิม : ในขั้นตอนการจั่วการ์ด
          สามารถเลือกได้ว่าจะไม่จั่วการ์ดแล้วเลือกหยิบการ์ดบนมือ 1 ใบ จากผู้เล่นอื่นไม่เกิน 2 คน</div>
      </button>
      <button class="effectButton noButton d-flex mt-3" (click)="this.cancelEffect()">
        <div class="useEffectText justify-content-end h-100 d-flex align-items-center">ยังไม่ใช้ดีกว่า....</div>
        <img class="useEffectImg" src="../assets/picture/thinking.png" alt="Tyler" width="150px">
      </button>
    </div>
  </div>
  <!--  -->

  <!-- steal card -->
  <div class="effectTemplate m-0 p-0 row justify-content-center align-items-center" *ngIf="this.stealCard">
    <div class="d-flex justify-content-center m-0">
      <div class="d-flex  " *ngFor="let other of this.stealablePlayers">
        <input type="checkbox" class="dropcard-checkbox stealSelect" value="{{ other.uuid }}" id="p{{ other.uuid }}"
          (change)="checkedSteal($event)" />
        <label for='p{{ other.uuid }}' class="player-steal-select d-flex justify-content-center align-items-center mx-3"
          [ngClass]="{stealed:other.stealed}">&nbsp;<img class="circleCard"  src={{this.urluser+convert(other.position)}}></label>
          <!-- เพิ่มอวตาร์-->
      </div>
    </div>


    <div class="stealCardShow d-flex flex-wrap justify-content-center m-0 p-0">
      <div class="m-0 p-10" *ngFor="let item of [].constructor(this.stealCardShowNum); let i = index">
        <!-- <label (click)="this.stealCardIndex(i)" class="carddrop">&nbsp;{{ i }}</label> -->
        <img (click)="this.stealCardIndex(i)" class="carddrop" src="../assets/picture/cover.png"/>
      </div>
    </div>
  </div>
  <button *ngIf="this.stealCard" class="putaFin snaleFin" (click)="snaleFinish()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Done
  </button>
  <!--  -->

  <div id="exist" *ngIf="this.characterCard">
    <img class="hand handleft" src="../assets/picture/hand.png" width="900px">
    <img class="hand handright" src="../assets/picture/hand.png" width="900px">
    <div class="showRole">
      <div class="textrole"><div>คุณคือ <label>{{this.role}}</label></div><p>{{this.showText}}</p></div>
      <img class="rolepic" src={{this.showRole}}>
    </div>
    <div class="testing">
      <div class="bend" *ngFor="let char of this.characterPool"><img class="card-pic" src={{char.image_name}}
        (click)="selectCharacter(char)"></div>
    </div>
  </div>
  <!-- เอฟเฟคหมู่ -->
  <div id="exist" *ngIf="this.groupEffect">
    <!-- จิบชาปาร์ตี้ -->
    <div class="effectAll">
      <div>ผู้เล่นทุกคนได้รับเอฟเฟค:"จิบชา"</div>
      <p>ผู้เล่นทุกคนจะได้รับhpเพิ่มขึ้น1หน่วย</p>
    </div>
    <img class="party" src="../assets/picture/table.png">
    <!-- <img class="crowd" src="../assets/picture/crowd.png"> -->
    <div id="containers">
      <img class="steam" id="steam1" src="../assets/picture/hp1.png">
      <img class="steam" id="steam2" src="../assets/picture/hp1.png">
      <img class="steam" id="steam3" src="../assets/picture/hp1.png">
      <img class="steam" id="steam4" src="../assets/picture/hp1.png">

      <div id="cup">
        <div id="cup-body">
          <div id="cup-shade"></div>
        </div>
        <div id="cup-handle"></div>
      </div>

      <div id="saucer"></div>

      <div id="shadow"></div>
    </div>
    <!-- จิบชาปาร์ตี้ -->
  </div>
  <!-- เอฟเฟคหมู่ -->
  <!-- แทรกเทินชาวบ้าน -->
  <div id="exist" *ngIf="this.showTrigger">
    <!-- เอฟเฟคตัวละคร -->
    <div class="bigbang"></div>
    <div class="decorateEffect">
      <img class="lightning" src="../assets/picture/lightning3.png" alt="Tyler" width="150px">
      <img class="lightning2" src="../assets/picture/lightning3.png" alt="Tyler" width="150px">
      <img class="lightning3" src="../assets/picture/lightning3.png" alt="Tyler" width="150px">
      <img class="lightning4" src="../assets/picture/lightning3.png" alt="Tyler" width="150px">
    </div>
    <div class="whoUse" *ngIf="this.waiting == false">
      <div class="useAbillity" (click)="this.specialEffect()"> <img class="spell" src="../assets/picture/book.png"
          alt="Tyler" width="150px">
        <div class="textDiscription">{{this.effectDescription}}</div>
      </div>
      <div class="noAbillity" (click)="this.cancelSpecialEffect()"> <img class="nospell"
          src="../assets/picture/thinking.png" alt="Tyler" width="150px">
        <div class="noUse">Maybe I will Use this Ability Next Time...</div>
      </div>
    </div>

    <div class="whoNot" *ngIf="this.waiting == true">
      <div class="waitingDes">
        <div class="martins">You Got Effected to Your Character <p>{{this.effectDescription}}</p>
        </div>
        <img class="spells" src="../assets/picture/book.png" alt="Tyler" width="150px">
      </div>
    </div>
    <div class="beforeOn" *ngIf="this.showTrigger == true">
      <img class="quickAction" src="../assets/picture/thunderp.png" alt="Tyler">
      <img class="effect-pattern effectuser" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/penguin.jpg"
        alt="Tyler">
      <div class="playerEffect cardEffect">
        <img class="popupCard" src="../assets/picture/card/martin.png" alt="Tyler">
      </div>
      <img class="effect-pattern effecteduser" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/penguin.jpg"
        alt="Tyler">
      <div class="playerEffect cardEffected">
        <img class="popupCard" src={{this.kingImage}} alt="Tyler">
      </div>
    </div>
    <!-- เอฟเฟคตัวละคร -->
    <!-- โจมตีและป้องกัน -->

    <!-- โจมตีและป้องกัน -->
  </div>
  <!-- แทรกเทินชาวบ้าน -->
  <div class="all">
    <div class="showingCard" *ngIf="this.activingCard" id="hi">
      <img class="popupCard" src={{this.showingCard}}>
      <img class="cancelsi" width="45px" src="../assets/picture/cancel.png" (click)="this.activateMoon(null)">
    </div>

    <div class="swordPvP">
      <img class="pvp" src="../assets/picture/pvp.png" width="150px" id="main" *ngIf="this.canAttack" />
      <img id="chairpvp5" class="none" src="../assets/picture/pvp.png" width="45px" (click)="cfKill(this.chairPos[5])">
      <img id="chairpvp3" class="none" src="../assets/picture/pvp.png" width="45px" (click)="cfKill(this.chairPos[3])">
      <img id="chairpvp2" class="none" src="../assets/picture/pvp.png" width="45px" (click)="cfKill(this.chairPos[2])">
      <img id="chairpvp1" class="none" src="../assets/picture/pvp.png" width="45px" (click)="cfKill(this.chairPos[1])">
      <img id="chairpvp6" class="none" src="../assets/picture/pvp.png" width="45px" (click)="cfKill(this.chairPos[6])">

    </div>
    <div class="changeTurn" *ngIf="this.turnChange">
      <div class="fontTurn">{{this.textTurn}}</div>
    </div>
    <div class="scene" *ngIf="this.test555">
      <div class="card" *ngFor="let data of this.showDraw">
        <div class="card__face card__face--front">
          <img src="../assets/picture/cover.png"/>
        </div>
        <div class="card__face card__face--back">
          <img  src={{this.urls+data.info.image}} />
        </div>
      </div>
    </div>
    <div class="heart myheart" >
      <img src="../assets/picture/myHeart.png" width="55px"*ngIf="this.hp4 != null|| this.hp4 != undefined ">
      <div class="myboxHeart" id="myh" >
        <div class="mybox" *ngFor="let i of this.hp4"></div>
      </div>
    </div>showCard
    <!-- <img src="../assets/picture/plus.png" class="plus" style="width: 45px;" (click)=""> -->
    <div class="tab-show" *ngIf="this.cardShow">
      <div class="card-show">
        <img class="popupCard" src={{this.urls+this.cardCheck.info.image}} />
      </div>
      <div class="confirm">
        <img src="../assets/picture/correct.png" style="width: 45px;" (click)="useCard()" *ngIf="this.canUse">
        <img src="../assets/picture/cancel.png" style="width: 45px;" (click)="cancelShow()">
      </div>
    </div>

    <div class="container">
      <div [ngClass]="{card:!cardEffect(card),cardic:cardEffect(card)}" *ngFor="let card of this.handCard" (click)="showCard(card)">
        {{card.info.name}}
        <img class="popupCards" src={{this.urls+card.info.image}}>
      </div>
    </div>
    <!-- pass button -->

    <div class="wrapper" *ngIf="this.myPos == this.queue && this.canPass">
      <div class="link_wrapper">
        <a (click)="pass()">Next Stage</a>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
            <path
              d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z" />
          </svg>
        </div>
      </div>
    </div>
    <!-- pass button -->
    <!-- <div class="chat-content">
      <div class="chatline w-full">
        <p class="chitty">LOBBY [<span class="show_code"></span>]</p>
      </div>
    </div> -->
    <div class="lobbycode align-items-center">
      CODE:
      <div class="h-100 d-flex align-items-center">
        <span class="show_code display-5"></span>
        <button class="copy-btn" (click)="copyCodeToClipboard()">
          <img src="../assets/picture/copy.png" width="27px" height="35px">
        </button>
      </div>
    </div>

    <div class="lobbycodes align-items-center" *ngIf="this.started == true">
      ROLE:
      <div class="h-100 d-flex align-items-center">
        <span class="show_code display-5">{{this.role}}</span>
      </div>
    </div>
    <div class="btn join-btn" (click)="leave()" *ngIf="this.started != true">LEAVE LOBBY</div>
    <div class="btn accept-btn" (click)="start()" *ngIf="this.host == true &&this.started != true">Start</div>
    <div class="show-chat" (click)="openChat()" *ngIf="!this.showChat"><img src="../assets/picture/greater.png"
        height="40px"></div>
      <div [ngClass]="{chatsidebar:this.showChat == true,closeChating:this.showChat == false}">
        <div class="chat-content">
          <div class="chatline w-full">


          </div>
          <div class="chat-input  " id="chatInput" (keypress)="typingChat($event)" contenteditable="">
          </div>
        </div>
        <div class="chat-hide" (click)="openChat()">
          <img src="../assets/picture/less.png" height="40px">
        </div>
      </div>
    <div class="copy-noti hidden" aria-readonly="true">
      CODE was copied to clipboard.
    </div>

    <div
      [ngClass]="{timer: this.chair4 == this.queue,timer1:this.chair1 == this.queue,timer2:this.chair2 == this.queue,timer3:this.chair3 == this.queue,timer5:this.chair5 == this.queue,timer6:this.chair6 == this.queue}">
      <img src="../assets/picture/stopwatch.png" style="width: 95px;" *ngIf="this.clock">
      <div class="counter" *ngIf="this.clock">
        {{this.counterTime}}
      </div>
    </div>
    <div class="right-side">
      <img src="../assets/picture/lock.png" class="lock" style="width: 95px;" *ngIf="this.is_private">
      <img src="../assets/picture/setting.png" class="setting" style="width: 95px;">
    </div>
    <nz-modal [(nzVisible)]="isVisibleMiddle" nzCentered (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()"
      nzWidth="335px" [nzFooter]=null>
      <ng-container *nzModalContent>
        <img src="../assets/picture/tetttt.PNG" class="imaging" style="width: 290px; height: 500px;">
      </ng-container>
    </nz-modal>

    <div class="user1" id="chair1">

      <div class="otherCard1" *ngIf="this.started">
        <div class="textOther">{{this.handing[1]}}</div>
        <img src="../assets/picture/handpoker.png" class="imaging" style="width: 45px;">
      </div>


      <div class="circles" *ngIf="!this.chair1user">
        <p class="circle-content" (click)="select_position(this.chair1)">
          {{this.chair1}}
        </p>
      </div>
      <div class="heart heart1" >
        <img src="../assets/picture/myHeart.png" width="23px" *ngIf="this.hp1 != null|| this.hp1 != undefined ">
        <div class="boxHeart" id="myh1">
          <div class="box" *ngFor="let i of hp1"></div>
        </div>
      </div>
      <div class="stage stage1">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="11" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" id="12" width="30px">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" id="13" width="30px">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" id="14" width="30px">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" id="15" width="30px">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" id="16" width="30px">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting1">
        <img
          [ngClass]="{circle2: this.chair1 == this.queue, circle: this.chair1 != this.queue,circleLeave:this.quitRage.includes(this.chair1) && this.chair1 != this.queue}"
          src={{this.urluser+convert(this.chairPos[1])}} alt="Tyler" *ngIf="this.chair1user"><img
          class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown1"></div>
    </div>


    <div class="user6" id="chair6">
      <div class="otherCard2" *ngIf="this.started">
        <div class="textOther">{{this.handing[6]}}</div>
        <img src="../assets/picture/handpoker.png" class="imaging" style="width: 45px;">
      </div>
      <div class="circles" *ngIf="!this.chair6user">
        <p class="circle-content" (click)="select_position(this.chair6)">
          {{this.chair6}}
        </p>
      </div>
      <div class="heart heart1" >
        <img src="../assets/picture/myHeart.png" width="23px" *ngIf="this.hp6 != null|| this.hp6 != undefined ">
        <div class="boxHeart" id="myh6">
          <div class="box" *ngFor="let i of hp6"></div>
        </div>
      </div>
      <div class="stage stage1">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="61" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" width="30px" id="62">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" width="30px" id="63">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" width="30px" id="64">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" width="30px" id="65">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" width="30px" id="66">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler"
          *ngIf="this.hosting6"><img
          [ngClass]="{circle2: this.chair6 == this.queue, circle: this.chair6 != this.queue,circleLeave:this.quitRage.includes(this.chair6) && this.chair6 != this.queue}"
          src={{this.urluser+convert(this.chairPos[6])}} alt="Tyler" *ngIf="this.chair6user"><img
          class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown6"></div>

    </div>
    <div class="user2" id="chair2">
      <div class="otherCard1" *ngIf="this.started">
        <div class="textOther">{{this.handing[2]}}</div>
        <img src="../assets/picture/handpoker.png" class="imaging" style="width: 45px;">
      </div>

      <div class="circles" *ngIf="!this.chair2user">
        <p class="circle-content" (click)="select_position(this.chair2)">
          {{this.chair2}}
        </p>
      </div>
      <div class="heart heart1" >
        <img src="../assets/picture/myHeart.png" width="23px" *ngIf="this.hp2 != null|| this.hp2 != undefined ">
        <div class="boxHeart" id="myh2">
          <div class="box" *ngFor="let i of hp2"></div>
        </div>
      </div>
      <div class="stage stage1">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="21" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" id="22" width="30px">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" id="23" width="30px">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" id="24" width="30px">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" id="25" width="30px">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" id="26" width="30px">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting2">
        <img
          [ngClass]="{circle2: this.chair2 == this.queue, circle: this.chair2 != this.queue,circleLeave:this.quitRage.includes(this.chair2) && this.chair2 != this.queue}"
          src={{this.urluser+convert(this.chairPos[2])}} alt="Tyler" *ngIf="this.chair2user"><img
          class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown2"></div>

    </div>

    <div class="user5" id="chair5">
      <div class="otherCard2" *ngIf="this.started">
        <div class="textOther">{{this.handing[5]}}</div>
        <img src="../assets/picture/handpoker.png" class="imaging" style="width: 45px;">
      </div>
      <div class="circles" *ngIf="!this.chair5user">
        <p class="circle-content" (click)="select_position(this.chair5)">
          {{this.chair5}}
        </p>
      </div>
      <div class="heart heart2" >
        <img src="../assets/picture/myHeart.png" width="23px" *ngIf="this.hp5 != null|| this.hp5 != undefined ">
        <div class="boxHeart" id="myh5">
          <div class="box" *ngFor="let i of hp5"></div>
        </div>
      </div>
      <div class="stage stage2">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="51" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" id="52" width="30px">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" id="53" width="30px">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" id="54" width="30px">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" id="55" width="30px">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" id="56" width="30px">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting5">
      </div>
      <img
        [ngClass]="{circle2: this.chair5 == this.queue, circle: this.chair5 != this.queue,circleLeave:this.quitRage.includes(this.chair5) && this.chair5 != this.queue}"
        src={{this.urluser+convert(this.chairPos[5])}} alt="Tyler" *ngIf="this.chair5user">
      <img class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown5">
    </div>
    <div class="user3" id="chair3">
      <div class="otherCard1" *ngIf="this.started">
        <div class="textOther">{{this.handing[3]}}</div>
        <img src="../assets/picture/handpoker.png" class="imaging" style="width: 45px;">
      </div>
      <div class="circles" *ngIf="!this.chair3user">
        <p class="circle-content" (click)="select_position(this.chair3)">
          {{this.chair3}}
        </p>
      </div>
      <div class="heart heart2" >
        <img src="../assets/picture/myHeart.png" width="23px" *ngIf="this.hp3 != null|| this.hp3 != undefined ">
        <div class="boxHeart" id="myh3">
          <div class="box" *ngFor="let i of hp3"></div>
        </div>
      </div>
      <div class="stage stage3">
        <img src="../assets/picture/magic-ball.png" class="stageIcon nonfinish" id="31" width="30px">
        <img src="../assets/picture/poker.png" class="stageIcon nonfinish" id="32" width="30px">
        <img src="../assets/picture/card.png" class="stageIcon nonfinish" id="33" width="30px">
        <img src="../assets/picture/poker-cards.png" class="stageIcon nonfinish" id="34" width="30px">
        <img src="../assets/picture/recycle-bin.png" class="stageIcon nonfinish" id="35" width="30px">
        <img src="../assets/picture/flag.png" class="stageIcon nonfinish" id="36" width="30px">
      </div>
      <div><img class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting3">
      </div>
      <img
        [ngClass]="{circle2: this.chair3 == this.queue, circle: this.chair3 != this.queue,circleLeave:this.quitRage.includes(this.chair3) && this.chair3 != this.queue}"
        src={{this.urluser+convert(this.chairPos[3])}} alt="Tyler" *ngIf="this.chair3user"><img
        class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown3">
    </div>
    <div class="user4" id="chair4">
      <div class="circles" *ngIf="!this.chair4user">
        <p class="circle-content" (click)="select_position(this.chair4)">
          {{this.chair4}}
        </p>
      </div>
      <div> <img
          [ngClass]="{circle2: this.chair4 == this.queue, circle: this.chair4 != this.queue,circleLeave:this.quitRage.includes(this.chair4) && this.chair4 != this.queue}"
          src={{this.urluser+convert(this.chairPos[4])}} alt="Tyler" *ngIf="this.chair4user"> <img
          class="hosting" src="../assets/picture/hosting.png" style="width:9em" alt="Tyler" *ngIf="this.hosting4"><img
          class="king" src="../assets/picture/king.png" style="width:2em" alt="Tyler" *ngIf="this.crown4">
      </div>

    </div>
    <div class="hexagon">

      <div class='player4' id="card4">
        <div class="equipments mb-4">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">
            <img *ngIf="this.myEquipmentImage.weapon != null" class="equipmentCard" src={{this.myEquipmentImage.weapon}} (click)="activateMoon(this.myEquipmentImage.weapon)">
          </div>
          <div class="blocks">
            <img *ngIf="this.myEquipmentImage.armor != null" class="equipmentCard" src={{this.myEquipmentImage.armor}} (click)="activateMoon(this.myEquipmentImage.armor)">
          </div>
          <div class="blocks">
            <img *ngIf="this.myEquipmentImage.mount1 != null" class="equipmentCard" src={{this.myEquipmentImage.mount1}} (click)="activateMoon(this.myEquipmentImage.mount1)">
          </div>
          <div class="blocks">
            <img *ngIf="this.myEquipmentImage.mount2 != null" class="equipmentCard" src={{this.myEquipmentImage.mount2}} (click)="activateMoon(this.myEquipmentImage.mount2)">
          </div>
        </div>
        <div class="myCharacter-card">
          <div class="blocks-s">
          </div>
          <div class="blocks-c">
            <img *ngIf="this.test != null " class="myCharacter" src={{this.test}} (click)="activateMoon(this.test)">
          </div>

        </div>
      </div>

      <div class='player1' id="card1">
        <div class="myCharacter-card">
          <div class="blocks-ss">
          </div>
          <div class="blocks-c-o">
            <img *ngIf="this.img1 != null " class="myCharacter2" src={{this.img1}} (click)="activateMoon(this.img1)">
          </div>

        </div>
        <div class="equipment">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair1.weapon.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair1.weapon.image}} (click)="activateMoon(this.otherEquipment.chair1.weapon.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair1.armor.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair1.armor.image}} (click)="activateMoon(this.otherEquipment.chair1.armor.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair1.mount1.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair1.mount1.image}} (click)="activateMoon(this.otherEquipment.chair1.mount1.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair1.mount2.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair1.mount2.image}} (click)="activateMoon(this.otherEquipment.chair1.mount2.image)">
          </div>
        </div>
      </div>

      <div class='player6' id="card6">
        <div class="myCharacter-card">
          <div class="blocks-ss">

          </div>
          <div class="blocks-c-o">
            <img *ngIf="this.img6 != null " class="myCharacter2" src={{this.img6}} (click)="activateMoon(this.img6)">
          </div>

        </div>
        <div class="equipment">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair6.weapon.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair6.weapon.image}} (click)="activateMoon(this.otherEquipment.chair6.weapon.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair6.armor.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair6.armor.image}} (click)="activateMoon(this.otherEquipment.chair6.armor.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair6.mount1.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair6.mount1.image}} (click)="activateMoon(this.otherEquipment.chair6.mount1.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair6.mount2.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair6.mount2.image}} (click)="activateMoon(this.otherEquipment.chair6.mount2.image)">
          </div>

        </div>

      </div>

      <div class='player2' id="card2">
        <div class="equipments mb-4">
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair2.weapon.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair2.weapon.image}} (click)="activateMoon(this.otherEquipment.chair2.weapon.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair2.armor.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair2.armor.image}} (click)="activateMoon(this.otherEquipment.chair2.armor.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair2.mount1.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair2.mount1.image}} (click)="activateMoon(this.otherEquipment.chair2.mount1.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair2.mount2.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair2.mount2.image}} (click)="activateMoon(this.otherEquipment.chair2.mount2.image)">
          </div>

        </div>
        <div class="myCharacter-card">
          <div class="blocks-s">
          </div>
          <div class="blocks-c">
            <img *ngIf="this.img2 != null " class="myCharacter" src={{this.img2}} (click)="activateMoon(this.img2)">
          </div>

        </div>
      </div>

      <div class='player3' id="card3">
        <div class="equipments mb-4">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair3.weapon.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair3.weapon.image}} (click)="activateMoon(this.otherEquipment.chair3.weapon.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair3.armor.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair3.armor.image}} (click)="activateMoon(this.otherEquipment.chair3.armor.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair3.mount1.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair3.mount1.image}} (click)="activateMoon(this.otherEquipment.chair3.mount1.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair3.mount2.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair3.mount2.image}} (click)="activateMoon(this.otherEquipment.chair3.mount2.image)">
          </div>

        </div>
        <div class="myCharacter-card">
          <div class="blocks-s">

          </div>
          <div class="blocks-c">
            <img *ngIf="this.img3 != null " class="myCharacter" src={{this.img3}} (click)="activateMoon(this.img3)">
          </div>

        </div>
      </div>

      <div class='player5' id="card5">
        <div class="myCharacter-card">
          <div class="blocks-ss">

          </div>
          <div class="blocks-c-o">
            <img *ngIf="this.img5 != null " class="myCharacter2" src={{this.img5}} (click)="activateMoon(this.img5)">
          </div>

        </div>
        <div class="equipment">
          <!-- <div class="block-empty"></div> -->
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair5.weapon.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair5.weapon.image}} (click)="activateMoon(this.otherEquipment.chair5.weapon.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair5.armor.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair5.armor.image}} (click)="activateMoon(this.otherEquipment.chair5.armor.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair5.mount1.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair5.mount1.image}} (click)="activateMoon(this.otherEquipment.chair5.mount1.image)">
          </div>
          <div class="blocks">
            <img *ngIf="this.otherEquipment.chair5.mount2.image != null" class="equipmentCard" src={{this.urls+this.otherEquipment.chair5.mount2.image}} (click)="activateMoon(this.otherEquipment.chair5.mount2.image)">
          </div>

        </div>
      </div>
      <div class="face1"></div>
      <div class="face2"></div>
    </div>



  </div>
</body>
