

.timer {
  position: absolute;
  top: 0%;
  left: 88%;
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% {
    filter: hue-rotate(1deg)
  }

  50% {
    filter: hue-rotate(360deg)
  }

  100% {
    filter: hue-rotate(1deg)
  }
}

.boxs {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #fff;
  width: 350px;
  top: 10%;
  opacity: 10%;
  height: 80%;
  position: absolute;
}

.box {
  background-color: #fff;
}


.chats {
  position: absolute;
}

.title {
  transform: rotateX(0deg) rotateZ(270deg) scale(1);
  position: absolute;
  top: 23%;
  right: 40%;
}

body {
  width: 1900px;
  height: 950px;
  position: relative;
  animation: scroll 70s linear infinite;
  background: url("https://i.pinimg.com/564x/91/5e/73/915e739ff65e8474f2753fdeea8537dc.jpg"), #111111;
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

@keyframes scroll {
  100%{
   background-position:0px -3000px;
 }
}

@media (prefers-reduced-motion) {
 .body {
   animation: scroll 200s linear infinite;
 }
}

@media (min-width: 670px) {
 .title {
   font-size: 5rem;
 }
}

.blocks {
  display: inline-block;
  border: solid 1px red;
  width: 40px;
  height: 100px;
  margin-left: 5px;
  background-color: white;
}

.player-1 {
  position: absolute;
  top: 25%;
  left: 55%;
  width: 700px;
  gap: 10px;
  transform: rotateX(0deg) rotateZ(90deg) scale(1);

}

.player-2 {
  position: absolute;
  top: 25%;
  left: -25%;
  width: 700px;
  gap: 10px;
  transform: rotateX(0deg) rotateZ(90deg) scale(1);

}

.player-3 {
  position: absolute;
  top: 93%;
  left: -2%;
  width: 700px;
  gap: 10px;
  transform: rotateX(0deg) rotateZ(29deg) scale(1);

}

.player-4 {
  position: absolute;
  top: -32%;
  left: 0%;
  width: 700px;
  gap: 10px;
  transform: rotateX(0deg) rotateZ(-29deg) scale(1);

}

.player-5 {
  position: absolute;
  top: -35%;
  left: 37%;
  width: 700px;
  gap: 10px;
  transform: rotateX(0deg) rotateZ(30deg) scale(1);

}

.player-6 {
  position: absolute;
  top: 95%;
  left: 37%;
  width: 700px;
  gap: 10px;
  transform: rotateX(0deg) rotateZ(-30deg) scale(1);

}



.blocks {
  background-image: url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}

#pointer {
  border: 25px solid #868686;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 70;
  width: 540px;
  height: 100px;
  transform: skew(20deg);
  background-color: #1a1333;
  position: absolute;
  top: 91%;
  left: 70%;
}

// #chatInput{
// background-color: red;
// }
.chat-input {}

// ======================
.hexagon {
  transform: rotateX(50deg) rotateZ(90deg) scale(0.75);
  position: relative;
  top: 17%;
  left: 20%;
  width: 1140px;
  height: 660px;
  background-color: rgb(21, 119, 86);
  background-position: center center;
  z-index: 1;
  /* Text styling */
  line-height: 330px;
  text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 18px;
  color: #fff;
  color: rgba(255, 255, 255, .5);
  transition: color 500ms ease, text-shadow 500ms ease;

}

.hexagon:hover {
  color: #fff;
  text-shadow: 0 0 30px white;
}

.setting {
  position: absolute;
  right: 0%;
}

.user {
  top: 9%;
  left: 47%;
  position: absolute;
}

.circle-content {
  hyphens: auto;
  color: #fff;
  font-size: 67px;
  text-align: center;
  z-index: 9999;
}


.user2 {
  top: 31%;
  left: 23%;
  position: absolute;
}

.user3 {
  top: 30%;
  left: 71.8%;
  position: absolute;
}

.user4 {
  top: 65%;
  left: 24%;
  position: absolute;

}

.user5 {
  top: 65%;
  left: 71%;
  position: absolute;
}

.user6 {
  top: 87%;
  left: 48%;
  position: absolute;
}

.heart {
  position: absolute;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  top: 92.5%;
  left: 73%;
  display: flex;
  gap: 15px;
}

.circle {
  background: rgba(15, 28, 63, 0.125);
  border-radius: 50%;
  height: 8em;
  object-fit: cover;
  width: 8em;
}

.hosting{
  position: absolute;
  left: -5px;
  top:-5px;
  z-index: 0;

}

.circles {
  background: rgba(122, 132, 161, 0.125);
  border-radius: 50%;
  height: 8em;
  object-fit: cover;
  width: 8em;
  z-index: 9999;
}

.chat-content {
  position: absolute;
  left: 27%;
}

.chitty {
  white-space: nowrap;
  margin-right: 15px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 11px;
  color: #fff;
  color: rgba(255, 255, 255, .5);
  transition: color 500ms ease, text-shadow 500ms ease;
}




.hexagon .face1,
.hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}

.hexagon .face1:before,
.hexagon .face2:before {
  content: '';
  position: absolute;
  width: 660px;
  height: 660px;
  background: inherit;
}

.hexagon .face1 {
  transform: rotate(60deg);
}

.hexagon .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-660px, 0);
}

.hexagon .face2 {
  transform: rotate(-60deg);
}

.hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(660px, 0);
}


.join-btn {
  border: 1px solid rgb(107, 0, 0);
  background-color: rgb(156, 35, 35);
  color: white;
  padding: 5px;
  width: 150px;
  position: absolute;
  bottom: 0;
  height: 50px;
  padding-top: 13px;
  left: 0;
}

.join-btn:hover {
  border: 1px solid rgb(107, 0, 0);
  background-color: rgb(230, 62, 32);
  color: white;
}

.accept-btn {
  border: 1px solid rgb(0, 107, 9);
  background-color: rgb(35, 156, 96);
  color: white;
  padding: 5px;
  width: 150px;
  position: absolute;
  bottom: 0;
  height: 50px;
  padding-top: 13px;
  left: 10%;
}

.accept-btn:hover {
  border: 1px solid rgb(3, 58, 7);
  background-color: rgb(148, 255, 189);
  color: white;
}

// PASS BUTTON
.wrapper {
  position: absolute;
  left: 92%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

a {
  display: block;
  width: 250px;
  height: 75px;
  line-height: 65px;
  font-weight: bold;
  text-decoration: none;
  background: #2ecc71;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.icon {
  width: 75px;
  height: 75px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

a:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

a:hover+.icon {
  border: 3px solid #2ecc71;
  right: -25%;
}

//PASS
.fancy-border {
  top: 10%;
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  background-color: rgba(240, 248, 255, 0.185);
  height: 80%;
  position: absolute;
  width: 20%;
}

.chat-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
}

.chat-input{
  height: 50px;
}

.chatline{
  position: absolute;
  left: -30%;
}
