// จิบชา
#containers {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -75px;
  margin-left: 75px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 170px;
  width: 300px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 300px;
  width: 200px;
  background-color: #F3F3F3;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 75px;
  width: 80px;
  border-radius: 0 150px 150px 0;
  border: 15px solid #F3F3F3;
  margin-bottom: 95px;
  margin-left: 250px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 30px;
  width: 300px;  
  border-radius: 0 0 100px 100px;
  background-color: #F9F9F9;
  margin-top: -32px;
  margin-left: 5px;
  z-index: 2;
}

#shadow {
  height: 10px;
  width: 300px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: 6px;
  background-color: #7bb8d4;
}
// จิบชา
.timer {
  position: absolute;
  top: 87%;
  left: 55%;
  animation: color-change 3s infinite;
  color: white;
  font-size: 50px;
}

.timer1 {
  position: absolute;
  top: 10%;
  left: 55%;
  animation: color-change 3s infinite;
}

.timer2 {
  position: absolute;
  top: 30%;
  left: 78%;
  animation: color-change 3s infinite;
}

.timer3 {
  position: absolute;
  top: 65%;
  left: 77%;
  animation: color-change 3s infinite;
}

.timer5 {
  position: absolute;
  top: 65%;
  left: 19%;
  animation: color-change 3s infinite;
}

.timer6 {
  position: absolute;
  top: 32%;
  left: 18%;
  animation: color-change 3s infinite;
}

.stage {
  display: flex;
  position: absolute;
  gap: 5px;
}

.closeChating {
  display: none;
}

.openChating {}

.stage1 {
  top: -40px;
  left: -45px;
}

.stage2 {
  left: -40px;
  bottom: -40px;
}

.stage3 {
  bottom: -40px;
  right: -49px;
}




.nonfinish {
  filter: invert(20%)
}

.finish {
  filter: invert(100%)
}

.waitingDes {
  position: absolute;
  left: 27%;
  top: 25%;
  background-color: rgba(186, 120, 224, 0.699);
  width: 850px;
  height: 450px;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
}

@keyframes color-change {
  0% {
    filter: hue-rotate(1deg)
  }

  50% {
    filter: hue-rotate(360deg)
  }

  100% {
    filter: hue-rotate(1deg)
  }
}

.boxs {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #fff;
  width: 350px;
  top: 10%;
  opacity: 10%;
  height: 80%;
  position: absolute;
}

.box {
  background-color: #fff;
}


.chats {
  position: absolute;
}

.title {
  transform: rotateX(0deg) rotateZ(270deg) scale(1);
  position: absolute;
  top: 23%;
  right: 40%;
}

.all {
  overflow-y: hidden;
  width: 1900px;
  height: 100%;
  position: relative;
  animation: scroll 70s linear infinite;
  background: url("https://i.pinimg.com/564x/91/5e/73/915e739ff65e8474f2753fdeea8537dc.jpg"), #111111;
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.plus {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 9998;
}

body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.text-success {
  color: #fff;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .body {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

.blocks {
  display: inline-block;
  border: solid 1px red;
  width: 75px;
  height: 140px;
  margin-left: 5px;
  background-color: white;
}

.block-empty {
  display: inline-block;
  border: solid 1px red;
  width: 75px;
  height: 140px;
  margin-left: 5px;
}

.blocks-c {
  display: inline-block;
  border: solid 1px red;
  width: 75px;
  height: 140px;
  background-color: white;
  float: right;
}

.blocks-c-o {
  display: inline-block;
  border: solid 1px red;
  width: 75px;
  height: 140px;
  background-color: white;
  float: left;
  margin-top: -10px;
  margin-left: 20px;
}

.blocks-s {
  display: inline-block;
  border: solid 1px red;
  width: 100px;
  height: 140px;
  background-color: white;
  transform: rotateX(0deg) rotateZ(90deg) scale(1);
}

.myCharacter {
  width: 100%;
  height: 100%;
  transform: rotateX(0deg) rotateZ(180deg) scale(1);
}

.player4 {
  position: absolute;
  top: 28%;
  left: 71%;
  height: 265px;
  transform: rotateX(0deg) rotateZ(90deg) scale(1);
}

.player1 {
  position: absolute;
  top: 29%;
  left: 4%;
  height: 265px;
  transform: rotateX(0deg) rotateZ(90deg) scale(1);

}

.player6 {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: rotateX(0deg) rotateZ(29deg) scale(1);

}

.player2 {
  position: absolute;
  top: -24%;
  left: 18%;
  transform: rotateX(0deg) rotateZ(-29deg) scale(1);

}

.player3 {
  position: absolute;
  top: -25%;
  left: 52%;
  transform: rotateX(0deg) rotateZ(30deg) scale(1);

}

.player5 {
  position: absolute;
  top: 74%;
  left: 56%;
  transform: rotateX(0deg) rotateZ(-30deg) scale(1);

}


#pointer {
  border: 25px solid #868686;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 70;
  width: 540px;
  height: 100px;
  transform: skew(20deg);
  background-color: #1a1333;
  position: absolute;
  top: 91%;
  left: 70%;
}


// ======================
.hexagon {
  transform: rotateX(50deg) rotateZ(90deg) scale(0.75);
  position: relative;
  top: 17%;
  left: 20%;
  width: 1140px;
  height: 660px;
  background-color: rgb(21, 119, 86);
  background-position: center center;
  z-index: 1;
  /* Text styling */
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 18px;
  color: #fff;
  color: rgba(255, 255, 255, .5);
  transition: color 500ms ease, text-shadow 500ms ease;

}

.myCharacter-card {
  width: 300px;
}

.none{
  display: none;
}



.armor-horse {}

.hexagon:hover {
  color: #fff;
  text-shadow: 0 0 30px white;
}


.right-side {
  position: absolute;
  right: 0%;
  display: flex;
  gap: 20px;
}

#exist {
  background-color: rgba(0, 0, 0, 0.85);
  width: 1900px;
  height: 100%;
  position: absolute;
  float: right;
  z-index: 9000;
  display: grid;
  place-items: center;
  animation: chooseIn 1s;
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.actionPhrase {
  width: 91.5%;
  height: 350px;
  background-color: white;
  transform: skewX(-25deg);
  animation: leftRight 1.5s;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;

}

.actionPhrase2 {
  width: 91.5%;
  height: 350px;
  background-color: white;
  transform: skewX(0deg);
  animation: actioner 5s;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 0%;
  box-shadow: rgb(255, 166, 166) 0px 0px 0px 2px, rgba(255, 166, 166) 0px 4px 6px -1px, rgba(255, 166, 166) 0px 1px 0px inset;
}

.choice {
  transform: skewX(-25deg);
  height: 175px;
  width: 45%;
  left: 0%;
  background-color: white;
  position: absolute;
  bottom: 10%;
}

.choice2 {
  transform: skewX(-25deg);
  height: 175px;
  width: 45%;
  right: 10%;
  background-color: white;
  position: absolute;
  bottom: 10%;
}

.actioncontent {
  padding-top: 50px;
  transform: skewX(25deg);
}

.actioncontent2 {
  padding-top: 50px;
  transform: skewX(0deg);
}

.quickAction {
  position: absolute;
  top: 20%;
  left: 35%;
  opacity: 20%;
  z-index: 0;
}

.useAbillity {
  position: absolute;
  left: 27%;
  top: 28%;
  background-color: rgba(163, 32, 146, 0.699);
  width: 850px;
  height: 200px;
  border-radius: 5px;
  z-index: 9999;

}

.textDiscription {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  text-align: end;
  padding-top: 75px;
  color: whitesmoke;
  padding-right: 10px;
}

.noUse{
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  text-align: start;
  padding-top: 75px;
  color: whitesmoke;
  padding-left: 75px;
}

.noAbillity {
  position: absolute;
  left: 27%;
  top: 53%;
  background-color: rgba(156, 127, 152, 0.699);
  width: 850px;
  height: 200px;
  border-radius: 5px;
}





.spell {
  position: absolute;
  left: 2%;
  top: 10%;
}

.spells {
  position: absolute;
  left: 41%;
  top: 50%;
  animation: bigger 3s infinite;
}

@keyframes bigger {
  0% {
    width: 150px;
  }

  50% {
    width: 170px;
  }

  100% {
    width: 150px;
  }

}

.nospell {
  position: absolute;
  right: 2%;
  top: 10%;
}

.effecttrigger {
  font-size: 72px;
}

.effectdescription {
  font-size: 36px;
}

.waitingaction {
  font-size: 30px;
}

.lds-ellipsis {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 61%;
  top: 91%;

}

.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(196, 12, 12);
  // animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


@keyframes leftRight {
  0% {
    width: 0%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 91%;
  }
}

@keyframes actioner {
  0% {
    top: 30%;
    width: 0%;
    opacity: 0;
    transform: skewX(-25deg);
  }

  30% {
    opacity: 1;
    width: 91%;
  }

  80% {
    top: 30%;
  }

  100% {
    transform: skewX(0deg);
    top: 0%;
  }
}


@keyframes chooseIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}

.rolepic {
  opacity: 0.8;
  z-index: 9999;
  position: absolute;
  width: 300px;
  left: 42.3%;
  top: 2%;
  text-align: center;
  animation: choosePic 10s;
}

.party{
  position: absolute;
  width: 100%;
  bottom:-130%;
}

.effectAll{
  position: absolute;
  color: white;
  text-align: center;
  top: 10%;

}

.crowd{
  position: absolute;
  width: 150%;
  height: 100%;
  opacity: 1;
  bottom: -50%;
}


.textrole {
  color: white;
  z-index: 9999;
  position: absolute;
  left: 40%;
  top: 25%;
  text-align: center;
  font-size: 32px;
  animation: chooseText 10s;
}

@keyframes chooseText {
  0% {
    top: 53%;
    opacity: 0;
  }

  15% {
    top: 53%;
    opacity: 0;
  }

  30% {
    top: 53%;
    opacity: 0.8;
  }

  60% {
    top: 53%;
    opacity: 0.8;
  }

  100% {
    top: 25%;
    opacity: 0.8;
  }
}


@keyframes choosePic {
  0% {
    top: 30%;
    opacity: 0;
  }

  15% {
    top: 30%;
    opacity: 0;
  }


  30% {
    top: 30%;
    opacity: 0.8;
  }

  60% {
    top: 30%;
    opacity: 0.8;
  }

  100% {
    top: 2%;
    opacity: 0.8;
  }
}


.user1 {
  top: 9%;
  left: 47%;
  position: absolute;
}

.circle-content {
  hyphens: auto;
  color: #fff;
  font-size: 67px;
  text-align: center;
  z-index: 9999;
}


.user6 {
  top: 31%;
  left: 23%;
  position: absolute;
}

.user2 {
  top: 30%;
  left: 71.8%;
  position: absolute;
}

.user5 {
  top: 65%;
  left: 23.6%;
  position: absolute;

}

.user3 {
  top: 65%;
  left: 71.8%;
  position: absolute;
}

.user4 {
  top: 87%;
  left: 48%;
  position: absolute;
}

.heart {
  display: flex;
  position: absolute;
  gap: 10px;
  justify-content: center;

}

.heart1 {
  top: -68%;
  width: 300px;
  justify-content: center;
  padding-left: 10px;
  left: -85%;
}

.heart2 {
  top: 145%;
  width: 300px;
  justify-content: center;
  padding-left: 10px;
  left: -85%;
}

.myheart {
  top: 90%;
  left: 22%;
}

.box {
  width: 20px;
  background: #9b2020;
  border-radius: 3px;
}

.boxHeart {
  width: auto;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  gap: 2px;
  border-radius: 5px;
  transform: skewX(-20deg);
}

.mybox {
  width: 40px;
  background: #9b2020;
  border-radius: 3px;
}

.myboxHeart {
  width: auto;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  gap: 4px;
  border-radius: 5px;
  transform: skewX(-20deg);
}

.circle {
  background: rgba(15, 28, 63, 0.125);
  border-radius: 50%;
  height: 8em;
  object-fit: cover;
  width: 8em;
  box-shadow: 0 0 15px 15px rgba(#6e2525, 1);
}

.circle2 {
  background: rgba(15, 28, 63, 0.125);
  border-radius: 50%;
  height: 8em;
  object-fit: cover;
  width: 8em;
  animation: anim-glow 2s ease infinite;
}

.circleLeave {
  background: rgba(15, 28, 63, 0.125);
  border-radius: 50%;
  height: 8em;
  object-fit: cover;
  width: 8em;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.bigbang {
  animation: bigbang 3.8s;
  position: absolute;
  top: 50%;
}

.whoUse {
  animation: fadeinCha 4s;
}

.whoNot {
  animation: fadeinCha 4s;
}

@keyframes fadeinCha {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes bigbang {
  0% {
    box-shadow: 0 0 rgba(#ef61ef, 1);
  }

  80% {
    box-shadow: 0 0 rgba(#ef61ef, 1);
  }


  100% {
    box-shadow: 0 0 1050px 1050px transparent;
    border-width: 10px;
  }
}

@keyframes anim-glow {
  0% {
    box-shadow: 0 0 rgba(#61EF61, 1);
  }

  100% {
    box-shadow: 0 0 50px 50px transparent;
    border-width: 10px;
  }
}

.hosting {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 0;

}

.king {
  position: absolute;
  top: -28px;
  left: 42px;
}


.circles {
  background: rgba(122, 132, 161, 0.125);
  border-radius: 50%;
  height: 8em;
  object-fit: cover;
  width: 8em;
  z-index: 9999;
}

.effect-pattern {
  background: rgba(122, 132, 161, 0.125);
  border-radius: 50%;
  height: 8em;
  object-fit: cover;
  width: 8em;
  z-index: 9999;
  position: absolute;
}

.effectuser {
  left: 5%;
  top: 20%;
  animation: versusLeftuser 4s;
}

@keyframes versusLeftuser {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
    left: 5%
  }

  80% {
    left: 32%;
  }

  100% {
    left: 5%;
  }

}

@keyframes versusRightuser {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
    right: 5%
  }

  80% {
    right: 32%;
  }

  100% {
    right: 5%;
  }

}

.effecteduser {
  right: 5%;
  top: 20%;
  animation: versusRightuser 4s;
}

.playerEffect {
  background-color: white;
  width: 300px;
  height: 450px;
  position: absolute;
  border-radius: 5px;


}


.yesCard {
  background-color: rgb(29, 104, 29);
  bottom: 27%;
}

.noCard {
  bottom: 1%;
  background-color: rgb(92, 16, 16);
}



.discission {
  width: 850px;
  height: 25%;
  position: absolute;
  border-radius: 5px;
  animation: fadeIns 7s;
}

.cardEffect {
  left: 8%;
  top: 25%;
  animation: versusLeft 4s;
  box-shadow: rgba(228, 90, 255, 0.25) 0px 54px 55px, rgba(228, 90, 255, 0.12) 0px -12px 30px, rgba(228, 90, 255, 0.12) 0px 4px 6px, rgba(228, 90, 255, 0.17) 0px 12px 13px, rgba(228, 90, 255, 0.09) 0px -3px 5px;
}

.cardEffected {
  right: 8%;
  top: 25%;
  animation: versusRight 4s;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

@keyframes versusLeft {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
    left: 8%
  }

  80% {
    left: 35%;
  }

  100% {
    left: 8%;
  }

}

@keyframes versusRight {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
    right: 8%
  }

  80% {
    right: 35%;
  }

  100% {
    right: 8%;
  }

}

.chitty {
  color: #ffffff;
  white-space: nowrap;
  margin-right: 15px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 11px;
  /* color: rgba(255, 255, 255, 0.5); */
  transition: color 500ms ease, text-shadow 500ms ease;
}




.hexagon .face1,
.hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}

.hexagon .face1:before,
.hexagon .face2:before {
  content: '';
  position: absolute;
  width: 660px;
  height: 660px;
  background: inherit;
}

.hexagon .face1 {
  transform: rotate(60deg);
}

.hexagon .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-660px, 0);
}

.hexagon .face2 {
  transform: rotate(-60deg);
}

.hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(660px, 0);
}


.join-btn {
  border: 1px solid rgb(107, 0, 0);
  background-color: rgb(156, 35, 35);
  color: white;
  padding: 5px;
  width: 150px;
  position: absolute;
  bottom: 0%;
  height: 50px;
  padding-top: 13px;
  left: 0;
}

.join-btn:hover {
  border: 1px solid rgb(107, 0, 0);
  background-color: rgb(230, 62, 32);
  color: white;
}

.accept-btn {
  border: 1px solid rgb(0, 107, 9);
  background-color: rgb(35, 156, 96);
  color: white;
  padding: 5px;
  width: 150px;
  position: absolute;
  bottom: 0%;
  height: 50px;
  padding-top: 13px;
  left: 10%;
}

.accept-btn:hover {
  border: 1px solid rgb(3, 58, 7);
  background-color: rgb(148, 255, 189);
  color: white;
}

// PASS BUTTON
.wrapper {
  position: absolute;
  left: 90%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

a {
  display: block;
  width: 250px;
  height: 75px;
  line-height: 65px;
  font-weight: bold;
  text-decoration: none;
  background: #2ecc71;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.icon {
  width: 75px;
  height: 75px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

a:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

a:hover+.icon {
  border: 3px solid #2ecc71;
  right: -25%;
}

//PASS
.fancy-border {
  bottom: -2%;
  left: -0%;
  height: 30%;
  width: 25%;
  padding: 4rem 8rem;
  display: inline-block;
  border: 3px solid #333333;
  font-size: 14px;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #6b4e4e;
  position: absolute;
  opacity: 50%;

  &::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.lightning {
  position: absolute;
  top: -5%;
  right: -2%;
  opacity: 1;
}

.lightning2 {
  position: absolute;
  bottom: -5%;
  left: -2%;
  opacity: 1;
  transform: rotateZ(180deg);
}

.lightning3 {
  position: absolute;
  top: -5%;
  left: -2%;
  opacity: 1;
  transform: rotateZ(270deg);
}

.lightning4 {
  position: absolute;
  bottom: -5%;
  right: -2%;
  opacity: 1;
  transform: rotateZ(90deg);
}

.lightningper {
  position: absolute;
  top: 12%;
  left: 2%;
  opacity: 1;
  transform: rotateZ(20deg);
}

.counter {
  background: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  top: 30%;
  left: 25%;
}

.bend {
  width: 30%;
  height: 100%;
  object-fit: cover;
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  transform: perspective(800px) rotateY(0deg);
  transition: 0.5s;
  color: white;
  text-align: center;
}

.cardSelect {
  display: flex;
  gap: 10px;
}

.card-pic {
  width: 350px;
  height: 560px;
  border: 1px solid salmon;
  opacity: 0.5;
  animation: cardpic 12s;
}

@keyframes cardpic {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.card-pic:hover {
  opacity: 1;
}

.testing {
  padding: 20px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 51;

}

.testing:hover img {
  opacity: 0.3;
}

.testing img:hover {
  transform: perspective(800px) rotateZ(0deg);
  opacity: 1;
}

.show-chat {
  top: 45%;
  left: 0%;
  height: 10%;
  width: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  background: rgba(180, 180, 180);
  position: absolute;
  animation: showing 2s;
  z-index: 9999;
}

@keyframes showing {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


.chat-input {
  height: 10%;
  background-color: white;
}

[contenteditable] {
  margin-left: 10px;
  margin-right: 10px;
  outline: 0px solid transparent;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  border-radius: 5px;
  text-align: left;
  /* Hide horizontal scrollbar */
}

.chatline {
  width: 100%;
  height: 82%;
  overflow-y: 300px;
  overflow-x: hidden;
  padding: 0;
  margin-top: 10px;
  scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
  scrollbar-width: thin !important;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(14, 14, 12, 0.075);
  border-radius: 20px;
  border: 3px solid rgb(163, 162, 161);
}

.chatsidebar {
  top: 25%;
  left: 0%;
  height: 50%;
  width: 20%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background: rgba(49, 49, 49, .5);
  border-radius: 0 20px 20px 0;
  position: absolute;
  animation: fadeIn 1s;
}

.beforeOn {
  // animation: fadeIns 7s;
}

@keyframes fadeIns {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadeIn {
  0% {
    left: 0;
    top: 45%;
    width: 2.1%;
    height: 10%;
    opacity: 1;
  }

  50% {
    left: 0;
    top: 25%;
    width: 2.1%;
    height: 50%;
    opacity: 1;
  }

  100% {
    width: 20%;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    width: 20%;
  }

  50% {
    left: 0;
    top: 25%;
    width: 2.1%;
    height: 50%;
    opacity: 1;
  }

  90% {
    left: 0;
    top: 45%;
    width: 2.1%;
    height: 10%;
    opacity: 1;
  }

  100% {
    left: 0;
    top: 45%;
    width: 2.1%;
    height: 10%;
    opacity: 0;
  }
}

@keyframes fadeIn-content {
  0% {
    left: 0;
    top: 50%;
    width: 0;
    height: 0%;
    opacity: 1;
  }

  50% {
    left: 0;
    top: 25%;
    width: 0;
    height: 100%;
    opacity: 1;
  }

  100% {
    height: 100%;
    width: 90%;
    opacity: 1;
  }
}

@keyframes fadeOut-content {
  0% {
    opacity: 1;
    height: 100%;
    width: 90%;
  }

  50% {
    left: 0;
    top: 25%;
    width: 0;
    height: 100%;
    opacity: 1;
  }

  100% {
    left: 0;
    top: 50%;
    width: 0;
    height: 0%;
    opacity: 0;
  }
}


.closeChating {
  top: 25%;
  left: 0%;
  height: 50%;
  width: 0%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 0 20px 20px 0;
  background: rgba(49, 49, 49, 0.5);
  position: absolute;
  opacity: 0;
  animation: fadeOut 1s;
}

.closeChating .chat-content {
  height: 100%;
  width: 0%;
  animation: fadeOut-content 1s;
}

.closeChating .chat-hide {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  background-color: rgb(180, 180, 180);
  align-items: center;
}

.chatsidebar .chat-content {
  height: 100%;
  width: 90%;
  animation: fadeIn-content 1s;
}

.chatsidebar .chat-hide {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  background-color: rgb(180, 180, 180);
  align-items: center;
}


.lobbycode {
  position: absolute;
  bottom: 8%;
  left: 0%;
  color: white;
  margin: auto;
  width: 19%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.lobbycode img {
  filter: invert(100%);
}

.copy-btn {
  background-color: rgb(65, 65, 65);
  border-radius: 2px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-left: 20px;
  outline: none;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10;
}

.copy-btn:hover {
  background-color: #a3a3a3;
}

.code-text {
  text-transform: uppercase;
}

.copy-noti {
  position: absolute;
  left: 19%;
  bottom: 5%;
  color: white;
  background-color: rgb(65, 65, 65);
  padding: 10px 10px;
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.copy-noti.visible {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.copy-noti.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.role {
  color: whitesmoke;
  font-size: 42px;
  z-index: 51;
  text-align: center;
}

.container {
  position: absolute;
  height: 300px;
  width: 550px;
  display: flex;
  top: 87%;
  left: 68%;

}


.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #7d6f99;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  font-size: 28px;
}

.tab-show {
  position: absolute;
  top: 19%;
  left: 83.5%;
  text-align: center;
}

.confirm {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.card-show {
  height: 340px;
  width: 250px;
  background-color: #7d6f99;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.droptemplate{
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
}

.card-canvas{
  margin: auto;
  width: 1690px;
  min-height: 10%;
  padding: 0 10px 0 0;
}

.carddrop{
  margin: 0px 10px 10px 0px;
  height: 280px;
  width: 200px;
  background-color: #7d6f99;
  border-radius: 10px;
  position: relative;
  font-size: 28px;
  transition: transform .2s;
}

.dropcard-checkbox{
  display: none;
}

.carddrop:hover{
  z-index: 9999;
  transform: scale(1.2);
}

input[type=checkbox] + label {
  border: none;
}
input[type=checkbox]:checked + label {
  border: 5px solid rgb(255, 196, 0);
}

.confirmdrop{
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
.cardInfo{
  margin: 0px 10px 10px 0px;
  height: 560px;
  width: 400px;
  background-color: #7d6f99;
  border-radius: 10px;
  position: relative;
  font-size: 28px;
  padding: 0;
}

.storeConfirm{
  border-radius: 50px;
  background-color: rgb(255, 166, 0);
  position: absolute;
  z-index: 50;
  width: 10%;
  height: 50px;
  bottom: 10%;
  left: 45%;
}

.flip-card {
  margin: auto;
  background-color: transparent;
  width: 400px;
  height: 560px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  animation: cardDraw 2s;
  transform: rotateY(0deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

@keyframes cardDraw {
  0%{
    transform: rotateY(180deg);
  }
}
